<center>
<div>
<div class=" col-lg-8 center_overlay">
	<div class ="col-lg 2 center_overlay">

		<h2 style = "color: #73be60">I want to be a Buyer!</h2>
</br>

<%= form_for @buy, :url => buy_index_path, :product=>params[:product], :method => :post do |f| %>

    
		<span style = "color: #B4EEF5"><%= f.label :quantity, "How many I can buy" %>
    <%= f.select :quantity,[['1','1'],['2','2'],['3','3'],['4','4'],['5','5'],['6','6'],['7','7'],['8','8'],['9','9'],['10','10']] %>
		</br>
		
    <span style = "color: #B4EEF5"><%= f.label :place, "Where can I give product" %></span>
    <%= f.text_field :place %>

    <%= f.hidden_field :product_id, :value => @product_id %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
</br>
    <%= f.submit "Create" %>
<% end %>
 
</div>

</div>
</div>
</center>
