<div id="carousel-example-generic" class="carousel slide carousel_home">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
                <div class="item active bg_image1">


<!--creates space between Welcom message and search bar -->

			<div class=" col-lg-8 center_overlay">
				<div class="form-group">
					<p class="home_margin text-center home_font">See what you can buy in bulk today</p>


		<%= form_tag product_index_path, :method => :get do %>  
			<p>  
				<%= text_field_tag :search, params[:search], :class=>"form-control", :id=>"search_speciality", :placeholder=>"Search for products" %>  
				<%= submit_tag "Search", :productname => nil %>
		</p>
		<% end %>


<style type="text/css">
.CSSTableGenerator {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #ffffff;
	
	-moz-border-radius-bottomleft:15px;
	-webkit-border-bottom-left-radius:15px;
	border-bottom-left-radius:15px;
	
	-moz-border-radius-bottomright:15px;
	-webkit-border-bottom-right-radius:15px;
	border-bottom-right-radius:15px;
	
	-moz-border-radius-topright:15px;
	-webkit-border-top-right-radius:15px;
	border-top-right-radius:15px;
	
	-moz-border-radius-topleft:15px;
	-webkit-border-top-left-radius:15px;
	border-top-left-radius:15px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:15px;
	-webkit-border-bottom-right-radius:15px;
	border-bottom-right-radius:15px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:15px;
	-webkit-border-top-left-radius:15px;
	border-top-left-radius:15px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:15px;
	-webkit-border-top-right-radius:15px;
	border-top-right-radius:15px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:15px;
	-webkit-border-bottom-left-radius:15px;
	border-bottom-left-radius:15px;
}.CSSTableGenerator tr:hover td{
	
}
.CSSTableGenerator tr:nth-child(odd){ background-color:#d4ffaa; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; }.CSSTableGenerator td{
	vertical-align:middle;
	
	
	border:1px solid #ffffff;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:7px;
	font-size:15px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #5fbf00 5%, #3f7f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5fbf00), color-stop(1, #3f7f00) );
	background:-moz-linear-gradient( center top, #5fbf00 5%, #3f7f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fbf00", endColorstr="#3f7f00");	background: -o-linear-gradient(top,#5fbf00,3f7f00);

	background-color:#5fbf00;
	border:0px solid #ffffff;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:20px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #5fbf00 5%, #3f7f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5fbf00), color-stop(1, #3f7f00) );
	background:-moz-linear-gradient( center top, #5fbf00 5%, #3f7f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fbf00", endColorstr="#3f7f00");	background: -o-linear-gradient(top,#5fbf00,3f7f00);

	background-color:#5fbf00;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
</style>


</br>            
<div>
<div class="CSSTableGenerator" >
<% @product.each do |product| %>
  <li>
 
        
  

                <table style='table-layout:fixed'>
                    <tr>
                        <td>
                            <%= product.productname %>
                        </td>
  
                    </tr>
                    <tr>
                        <td >
                           <%= image_tag "http://graph.facebook.com/#{current_user.uid}/picture?type=small" %>
                        </td>
  
                    </tr>
                    <tr>
                        <td >
                            <%= link_to 'Show', product_path(product.id) %>
                        </td>
 
                    </tr>
                    <tr>
                        <td >
                            <%= link_to 'Edit', edit_product_path(product.id) %>
 
                        </td>
                    
                    </tr>
                    <tr>
                        <td >
                             <%= link_to 'Delete', product_path(product.id), :method => :delete %>
                        </td>
         
                    </tr>
                </table>
  
  </li>
<% end %>
            </div>


</div>

				</div>


			</div>
	<!-- creates search bar -->


<div class="inc_container">
	<div class="row">
	<div class="heading_padding ">
<center>
		<p class="section_heading">Categories</p>
</center>
	</div>
	</div>

<center>
<div class="row component_padding_left">

	 <div class="col-md-3 component_front component_margin_right component_margin_bottom ">
		<a href="/product/index/1">
		  <img class="img-circle foodies" src="http://daxueconsulting.com/wp-content/uploads/2012/08/daxue-consulting-instant-noodles.jpg" />
		  <p class="foodie_name text-center">Food</p>
		</a>
	</div>

    <div class="col-md-3 component_front component_margin_right component_margin_bottom ">
		<a href="/product/index/2">
		  <img class="img-circle foodies" src="http://static2.stuff.co.nz/1363555512/214/8439214.jpg" />
		  <p class="foodie_name text-center">Toiletries</p>
		</a>
    </div>

	<div class="col-md-3 component_front component_margin_right component_margin_bottom ">
    <a href="/product/index/3">
			<img class="img-circle foodies" src="http://www.rajahmundry.me/Rajamahendravaram/uploads/20120430103100-1160079293-Stationaries2.jpg" />
		  <p class="foodie_name text-center">Stationary</p>
		</a>
	</div>

</div>
</center>

</div>


</div>
</div>

