<%= link_to('modify password', edit_registration_path(:user)) %>

<h2>Product Request List</h2>
<% @product.each do |product| %>
<%= product.productname %>
</br>
<%= product.quantity %>
</br>
<%= link_to 'Show', product_path(product.id) %>
</br>
<%= link_to 'Edit', edit_product_path(product.id) %>
</br>
<%= link_to 'Delete', product_path(product.id), :method => :delete %>
</br>
</br>
<% end %>

<h2>Join List</h2>
<% @join.each do |join| %>
<%= join.product.productname %>
</br>
<%= join.quantity %>
</br>
<%= link_to 'Show', product_path(join.product_id) %>
</br>
<%= link_to 'Edit', edit_join_path(join.id) %>
</br>
<%= link_to 'Delete', join_path(join.id), :method => :delete %>
</br>
</br>
<% end %>

<h2>Buyer List</h2>
<% @buy.each do |buy| %>
<%= buy.product.productname %>
</br>
<%= buy.quantity %>
</br>
<%= link_to 'Show', product_path(buy.product_id) %>
</br>
<%= link_to 'Edit', edit_buy_path(buy.id) %>
</br>
<%= link_to 'Delete', buy_path(buy.id), :method => :delete %>
</br>
</br>
<% end %>
