<% if admin_sign_in? AND %>



<% else if user_sign_in? AND   %>


<% end %>
<center>
<div>
<div class=" col-lg-8 center_overlay">
	<div class ="col-lg 2 center_overlay">

		<h2 style = "color: #73be60">My Page</h2>

<h3 style = "color: #B4EEF5"><%= link_to('modify profile', edit_user_registration_path) %></h3>

<h2 style = "color: #B4EEF5">Join List</h2>
<div class="CSSTableGenerator" >
                <table >
                    <tr>
                        <td>Product Name</td>
                        <td>Quantity</td>
                        <td>Management</td>
                        <td>My Request?</td>
                    </tr>

				<% @myrequest.each do |myrequest| %>
                    <tr>
                        <td>
                           <%= myrequest.product.productname %>
                        </td>
                        <td>
                            <%= myrequest.quantity %>
                        </td>
                        <td>
                            <%= link_to 'Show', product_path(myrequest.product_id) %> <%= link_to 'Edit', edit_product_path(myrequest.product_id) %> <%= link_to 'Delete', product_path(myrequest.product_id), :method => :delete %>
                        </td>
                        <td>Yes</td>
                    </tr>
          <% end %>

				<% @join.each do |join| %>
                    <tr>
                        <td><%= join.product.productname %></td>
                        <td><%= join.quantity %></td>
                        <td>
                            <%= link_to 'Show', product_path(join.product_id) %> <%= link_to 'Edit', edit_join_path(join.id) %> <%= link_to 'Delete', join_path(join.id), :method => :delete %>
                        </td>
                        <td>No</td>
                    </tr>
          <% end %>
                </table>
            </div>
</br>


<h2 style = "color: #B4EEF5">Buyer List</h2>
<div class="CSSTableGenerator" >
                <table >
                    <tr>
                        <td>
                            Product Name
                        </td>
                        <td >
                            Quantity
                        </td>
                        <td>
                            Management
                        </td>
                    </tr>
<% @buy.each do |buy| %>
                    <tr>
                        <td >
                           <%= buy.product.productname %>
                        </td>
                        <td>
                            <%= buy.quantity %>
                        </td>
                        <td>
                            <%= link_to 'Show', product_path(buy.product_id) %> <%= link_to 'Edit', edit_buy_path(buy.id) %> <%= link_to 'Delete', buy_path(buy.id), :method => :delete %>
                        </td>
                    </tr>
          <% end %>
                </table>
            </div>
</br>

	</div>
</div>
</div>
</center>



