<center>
<div>
<div class=" col-lg-8 center_overlay">
	<div class ="col-lg 2 center_overlay">

		<h2 style = "color: #73be60">Product Information</h2>
</br>
<h4 style = "color: #F7FA00">Product Name : <%= @join.product.productname %></h4>

<h4 style = "color: #F7FA00">Product Description : <%= @join.product.description %></h4>

<h4 style = "color: #F7FA00">Maxprice of Product : $ <%= @join.product.maxprice %></h4>

<h4 style = "color: #F7FA00">Location / District :  
<% case @join.product.location %>
		<% when '1' %>
		<%= "Taipei" %>
		<% when '2' %>
		<%= "HsinChu" %>
		<% when '3' %>
		<%= "Taichung" %>
		<% when '4' %>
		<%= "Tainan" %>
		<% when '5' %>
		<%= "Kaohsiung" %>
		<% when '6' %>
		<%= "Eastern Taiwan" %>
	<% end %>
</h4>

<h4 style = "color: #F7FA00">Deadline : <%= @join.product.deadline %></h4>

</br>

		<h2 style = "color: #73be60">Edit Join Information</h2>
</br>
<%= form_for @join, :url => join_path(@join.id), :method => :put do |f| %>

		<span style = "color: #B4EEF5"><%= f.label :quantity, "Quantity" %>
		<% @amount = @buy.quantity.to_i-@sum.to_i %>
		<% @num = Array.new(@amount) { |i| i = i + 1 } %>
    <%= f.select :quantity, @num.map { |value| [ value, value ] } %>
		</br>
		
    

    <%= f.hidden_field :user_id, :value => current_user.id %>
</br>
    <%= f.submit "Update" %>
<% end %>
 
	</div>
</div>
</div>
</center>
