<center>
<div>
<div class=" col-lg-8 center_overlay">
	<div class ="col-lg 2 center_overlay">

		<h2 style = "color: #73be60">Product Information</h2>
</br>

Product Name: <%= @join.product.productname %>
</br>
Product Description: <%= @join.product.description %>
</br>
Maxprice of Product: $<%= @join.product.maxprice %>
</br>
Location / District:
	<% case @join.product.location %>
		<% when '1' %>
		<%= "Taipei" %>
		<% when '2' %>
		<%= "HsinChu" %>
		<% when '3' %>
		<%= "Taichung" %>
		<% when '4' %>
		<%= "Tainan" %>
		<% when '5' %>
		<%= "Kaohsiung" %>
		<% when '6' %>
		<%= "Eastern Taiwan" %>
	<% end %>
</br>
Deadline: <%= @join.product.deadline %>

</br>
</br>

		<h2 style = "color: #73be60">Edit Join Information</h2>
</br>
<%= form_for @join, :url => join_path(@join.id), :method => :put do |f| %>

		<span style = "color: #B4EEF5"><%= f.label :quantity, "Quantity" %>
    <%= f.select :quantity,[['1','1'],['2','2'],['3','3'],['4','4'],['5','5'],['6','6'],['7','7'],['8','8'],['9','9'],['10','10']] %>
		</br>
		
    <span style = "color: #B4EEF5"><%= f.label :deadline, "My own Deadline" %></span>
    <%= f.text_field :deadline %>

    <%= f.hidden_field :user_id, :value => current_user.id %>
</br>
    <%= f.submit "Update" %>
<% end %>
 
	</div>
</div>
</div>
</center>
