</br>
<center>
<div>
<div class=" col-lg-8 center_overlay">
	<div class ="col-lg 2 center_overlay">

		<h2 style = "color: #73be60">I want to Join!</h2>


<%= form_for @join, :url => join_index_path, :product=>params[:product], :method => :post do |f| %>

    
		<span style = "color: #B4EEF5"><%= f.label :quantity, "Quantity" %>
		<% @amount = @buy.quantity.to_i-@sum.to_i %>
		<% @num = Array.new(@amount) { |i| i = i + 1 } %>
    <%= f.select :quantity, @num.map { |value| [ value, value ] } %>
		</br>
		

    <%= f.hidden_field :product_id, :value => @product.id %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :buy_id, :value => @product.buy_id %>
</br>
    <%= f.submit "Create" %>
<% end %>
 
</div>

</div>
</div>
</center>
