</br>
<center>
<div>
<div class=" col-lg-8 center_overlay">
	<div class ="col-lg 2 center_overlay">
<h2 style = "color: #73be60">Change your password</h2>
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
 <h4 style = "color: #FA0300"><%= devise_error_messages! %></h4>

  <%= f.hidden_field :reset_password_token %>

<h4 style = "color: #F7FA00"><%= f.label :password, "New password" %></br><%= f.password_field :password, :autofocus => true %></h4>
  
<h4 style = "color: #F7FA00"><%= f.label :password_confirmation, "Confirm new password" %></br> <%= f.password_field :password_confirmation %></h4>



  <div><%= f.submit "Change my password" %></div>
<% end %>
 </br> 

<%= render "admins/shared/links" %>

</div>
</div>
</div>

